<nav class="navbar navbar-inverse">
  <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Skill Wars Project</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/">Главная</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="#">Рейтинг игроков</a></li>
        <li><a href="#">Связь с нами</a></li>
        <li><a href="#" style="display: none">Вивод/Пополнение</a></li>
        <li>
          <a class="btn btn-default btn-outline" routerLink="/sign">Sign in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <router-outlet></router-outlet>

</div>

